@import "./utils/variables";
@import "./utils/mixin";
@import "./utils/placeholders";
@import "./base/base";

@import "./components/container";
@import "./components/btn";
@import "./components/logo";
@import "./components/header-link";
@import "./components/header";
@import "./components/form";
@import "./components/hero";
@import "./components/btn-close";
@import "./components/hang";
@import "./components/about";
@import "./components/team";
@import "./components/social-icons";
@import "./components/cliens";
@import "./components/footer";
@import "./components/subscribe";
// /components portfolio/ 
@import "./components/btn-porfolio";
@import "./components/projects";
@import "./components/overlay";