.portfolio__list {
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio__item {
    margin-right: 8px;
   
   
        &:last-child {
         margin-right: 0;
}
}


.portfolio__btn {
    @include btn(var(--title-text-color),var(--background-third));

    display: inline-block;
    text-align: center;
    @include border(transparent);
    transition: color 250ms var(--kubik-rubik),
    background-color 250ms var(--kubik-rubik),
    box-shadow 250ms var(--kubik-rubik);

    @include fonts16(500, 16px, 1.62, 0.03em);
    padding: 6px 22px;
    min-width: 73px;

      &:hover,
      &:focus{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 
    0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
}
 