
 .btn-close {
    position: absolute;
	top: 8px;
    right: 8px;

	width: 30px;
	height: 30px;
    padding: 0;
    margin: 0;

    background-color: var(--background-first);
    cursor: pointer;
    @extend %flex;

    border-radius: 50%;
   
    @include border(rgba(0, 0, 0, 0.1));
    transition: fill 250ms var(--kubik-rubik);
    
    &:hover,
    &:focus {
    fill: var(--accent-color);
}
    &__icon {
    width: 18px; 
    height: 18px;

}
} 



