
 .btn-close {
    position: absolute;
	top: 8px;
    right: 8px;

	width: 30px;
	height: 30px;
    padding: 0;
    margin: 0;

    background-color: var(--background-first);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
   
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: fill 250ms var(--kubik-rubik);
} 

.btn-close:hover,
.btn-close:focus {
    fill: var(--accent-color);
}

.btn-close__icon {
    width: 18px; 
    height: 18px;

}