.cliens__list {
    border: none;
    justify-content: center;
}

.cliens__item {
    width: calc((100%-150)/6);
    margin-right: 30px;
}

.cliens__item:last-child {
    margin-right: 0;
}

.cliens__link {
    width: 170px;
    height: 92px;
    @extend %flex;
    color: var(--color-icon);
    @include border(var(--border-grey-color));
    box-sizing: border-box;
    border-radius: 4px;
    transition: color 250ms var(--kubik-rubik),
    border 250ms var(--kubik-rubik);

     &:hover,
     &:focus {
    color: var(--accent-color);
    @include border(var(--accent-color));
}
}

.cliens__icon {
    width: 106px;
    height: 60px;

    fill: currentColor;
}