.footer {
    background-color: var(--background-second);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.adress {
    font-style: normal;
}

.adress__list {
    display: block;
}

.adress__link {
    @include fonts14;

    color: var(--grey-color);
    transition: color 250ms var(--kubik-rubik);

     &--map {
    color: var(--primary-white-color);
}

     &:hover,
     &:focus {
    color: var(--accent-color);
}
}



.adress__item:not(:last-child) {
    margin-bottom: 9px;
}

.wrapper {
    margin-left: 70px;
}

.footer__title {
    padding: 0;
    margin: 0;
    color: var(--primary-white-color);
    font-family: var( --main-font) ;
    @include fonts14(700, 14px, 1.14);
    text-transform: uppercase;
    
}