.form{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}
.hero__form {

height: 100%;
display: block;
}

.form__position {
    position: relative;
    margin-top: 4px;
    margin-bottom: 10px;
}

.form__title {
    @include fonts(700, 20px, 1.15, 0.03em);
    text-align: center;
    
    color: var(--title-text-color);
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
    
}

.form__field {
     position: relative;
     
     display: flex;
     flex-direction: column;
}

.form__input {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
    padding-left: 42px;
    outline: transparent;

    color: var(--primare-text-color);

    @include border(rgba(33, 33, 33, 0.2));
    box-sizing: border-box;
    border-radius: 4px;

    transition: border 250ms var(--kubik-rubik);
     &:hover,
     &:focus,
     &:checked {
        @include border(var(--accent-color));
    }
    &:hover ~ .form__icon--sign,
    &:focus ~ .form__icon--sign  {
    fill: var(--accent-color);
    }
}



.form__label {
    @include fonts(400, 12px, 1.17, 0.01em);
    
    color: var(--primare-text-color);
}


.form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    display: inline-block;
    
    &--sign {
    width: 18px;
    height: 18px;
    fill: var(--title-text-color);
    transition: fill 250ms var(--kubik-rubik);
}
    &--check {
    width: 16px;
    height: 15px;
    border: 2px solid #2a2a2a;
    border-radius: 4px;
    fill: var(--background-first)
}
}

.form__comment {
    height: 117px;
    margin-top: 4px;
    margin-bottom: 20px;
    @include fonts14(null,14px, 1.14, 0.01em);
    color: var(--primare-text-color);
    padding: 12px 14px;

    resize: none;

    &::placeholder {
    color: rgba(117, 117, 117, 0.5);

}
}

.form__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip:rect(0 0 0 0);
    overflow: hidden;

    &:checked ~ .form__icon--check {
    fill: var(--accent-color);
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-origin: border-box; 
    background-size: contain;
}
}



.form__policy {
    @include fonts14;
    padding-left: 35px;
    
    color: var(--primare-text-color);
}

.form__link {
    color: var(--accent-color);
    outline: transparent;
    
}
