.nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px; 

    color: var(--title-text-color);
    transition: color 250ms var(--kubik-rubik);

     &:hover,
     &:focus{
    color: var(--accent-color);
}

}
.contacts__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px; 
    display: flex;
    align-items: center;
    justify-content: center;
    fill: currentColor;

    color: var(--primare-text-color);
    transition: color 250ms var(--kubik-rubik);

    &:hover,
    &:focus{
    color: var(--accent-color);
} 
}

.nav__link,
.contacts__link {
    @include fonts14(500, 14px, 1.14, 0.02em);
}
