.hero {
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--background-second);
    margin-top: 0;
    background-image: linear-gradient(
        to right,    
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
    url(../imges/Img-hero.jpg);
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title {
    margin-bottom: 30px;
    color: var(--primary-white-color);
    @include fonts(900, 44px, 1.36, 0.06em);
    text-align: center;
    text-transform: uppercase;
    
}

.hero__backdrop {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: var(--back-drop-hero);
    transition: opacity 250ms var(--kubik-rubik),
    visibility 250ms var(--kubik-rubik);

}
.hero__modal {
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;
    padding: 40px;

    background-color: var(--background-first);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}