.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    opacity: 0;
    transition: opacity 250ms var(--kubik-rubik),
    transform 250ms var(--kubik-rubik);

    transform: translateY(100%);
}
    

.projects__overlay {
    background: var(--background-overlay);
}


.overlay__text {
    display: flex;

    padding: 63px 24px 63px 24px;
    margin: 0;
    @include fonts(400, 18px, 1.56, 0.03em);
    
    color: var(--primary-white-color);
    background: var(--background-overlay);
}