.projects__list {
    flex-wrap: wrap;
}

.projects__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
    margin-right: 0;
}
    &:nth-last-child(-n+3) {
    margin-bottom: 0;
}
}

.projects__link {
    display: block;
    transition: box-shadow 250ms var(--kubik-rubik);

    &:hover,
    &:focus {
    box-shadow: 
    0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
    &:hover .projects__overlay,
    &:focus .projects__overlay {
    opacity: 1;
    transform: translateY(0);
}
}

.projects__content {
    padding: 20px 24px;

    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.projects__title {
    margin-bottom: 4px;

    color: var(--title-text-color);
    @include fonts(700, 18px, 2, 0.06em);
}

.projects__text {
    margin-bottom: 0;

    color: var(--primare-text-color);
    @include fonts16(null, 16px, 1.88, 0.03em);
}

.projects__thumb {
    position: relative;
    overflow: hidden;

}