.social__list {
    border: none;
    flex-wrap: wrap;
    justify-content: center;

    &--footer {
    margin-top: 20px;
}
}


.social__item {
    margin-right: 10px;
   
}
.social__item:last-child {
    margin-right: 0;
}

.social__link {
    width: 44px;
    height: 44px;
    @extend %flex;
    border-radius: 50%;
    color: var(--color-icon);
    background-color: var(--background-first);
    transition: color 250ms var(--kubik-rubik),
    background-color 250ms var(--kubik-rubik);

    &:hover,
    &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}
    
    &--dark-bc {
    color: var(--primary-white-color);
    background-color: rgba(255, 255, 255, 0.1);
    transition: color 250ms var(--kubik-rubik),
    background-color 250ms var(--kubik-rubik);
}
}

.social__icon {
    width: 20px;
    height: 20px;

    fill: currentColor;

    &:hover,
    &:focus {
    fill: currentColor;
}
}