.subscribe {
    margin-left: 93px;
}

.subscribe__wrapper {
    @extend %flex;
    margin-top: 20px;
}

.subscribe__input {
    width: 358px;
    height: 50px;
    padding-left: 16px;

    color: var(--grey-color);
    
     @include border(rgba(255, 255, 255, 0.3));
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px var(--box-shadow-color));
    border-radius: 4px;
    background: transparent;
}

.subscribe__input::placeholder {
    @include fonts16(null, 16px, 1.25, 0.03em);
    
    color: var(--grey-color);
}


.subscribe__icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    
    fill: currentColor;
}