.team {
    background-color: var(--background-third);
}

.team__item {
    width: calc((100%-90)/4);
    margin-right: 30px;
    box-shadow: 
     0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14), 
     0px 2px 1px rgba(0, 0, 0, 0.2);
     border-radius: 0px 0px 4px 4px;
     background-color: var(--background-first);
}

.team__item:last-child {
    margin-right: 0;
}

.team__container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__after-title,
.team__text {
    margin-bottom: 0;
}


.team__after-title {
    margin-bottom: 10px;

    color: var(--title-text-color);
    @include fonts16(500);
    text-align: center;
}

.team__text {
    @include fonts16;
    margin-bottom: 16px;
    text-align: center;
}
