@mixin border($color) {
  border: 1px solid $color;
}
@mixin fonts14 ($fw: null, $fz: 14px, $lh: 1.71, $ls: 0.03em) {
    font-weight: $fw;
    font-size: $fz;
    line-height: $lh;
    letter-spacing: $ls;
}
// @include fonts14;

@mixin fonts16 ($fw: null, $fz: 16px, $lh: 1.19, $ls: 0.03em) {
    font-weight: $fw;
    font-size: $fz;
    line-height: $lh;
    letter-spacing: $ls;
}
// @include fonts16;

@mixin fonts ($fw: 700, $fz: 36px, $lh: 1.17, $ls: 0.03em) {
    font-weight: $fw;
    font-size: $fz;
    line-height: $lh;
    letter-spacing: $ls;
}
// @include fonts;

@mixin btn ($col, $bg, $cur:pointer, $br:4px, $ff:inherit) {
    color: $col;
    background-color: $bg;
    cursor: $cur;
    border-radius: $br;
    font-family: $ff; 
}
// @include btn;
    
